 @using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <h3>Bentornato @User.Identity.Name</h3> 
        <p>@User.FindFirst(ClaimTypes.Email).Value</p>
    </div>
</div>
