@model RegisterViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
	<div class="row">
		<div class=" col-3"></div>
		<div class=" col-6">
			<form class="row g-3" method="post" asp-controller="Account" asp-action="Login">
				
				<div class="col-6">
					<label for="Nome" class="form-label">Nome</label>
					<input type="text" class="form-control" id="Nome" placeholder="inserisci il tuo nome..." asp-for="FirstName">
				</div>
				<div class="col-6">
					<label for="Cognome" class="form-label">Cognome</label>
					<input type="text" class="form-control" id="Cognome" placeholder="inserisci il tuo cognome..." asp-for="LastName">
				</div>

				<div class="col-md-12">
					<label for="inputEmail" class="form-label">Email</label>
					<input type="email" class="form-control" id="inputEmail" asp-for="Email" placeholder="mario.rossi@email.it">
				</div>
				<br />
				<div class="col-md-12">
					<label for="birthdate" class="form-label">Data di Nascita</label>
					<input type="date" class="form-control" id="birthdate" asp-for="BirthDate">
				</div>
				<div class="col-md-6">
					<label for="inputPassword4" class="form-label">Password</label>
					<input type="password" class="form-control" id="inputPassword4" asp-for="Password">
				</div>
				<div class="col-md-6">
					<label for="confermaPassword" class="form-label">Conferma Password</label>
					<input type="password" class="form-control" id="confermaPassword" asp-for="ConfermaPassword">
				</div>
				<div class="col-12 text-center">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</form>
		</div>
		<div class=" col-3"></div>
	</div>
</div>